body{
    margin: 0;
    font-family: sans-serif;
}
.light-theme{
    --main-color:#7cc580;
    --second-color:#ffffff;

}
.dark-theme{
    --main-color:#ffffff;
    --second-color:#7cc580;
}
.header{
    height: 30vh;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.size-h1{
    font-size: xxx-large;
}
.line-1{
    position: relative;
    width: 2em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}


.anim-typewriter{
    animation: typewriter 4s steps(34) 1s  normal both,
    blinkTextCursor 500ms steps(34) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 18em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
.menu{
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}
.custom-menu-button {
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1px;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.custom-menu-button:hover, .custom-menu-button:focus {
    color: var(--second-color);
    outline: 0;
}
.anim-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}
.anim-button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: var(--second-color);
    z-index: -1;
    transition: width 150ms ease-in-out;
}
.anim-button:hover {
    color: var(--main-color);
}
.anim-button:hover:after {
    width: 100%;
}
.news{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}
.news-block{
    width: 400px;
    min-height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.5s;
    font-family: sans-serif;
    min-width: 350px;
}
.news-block:hover{
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.news-block:hover .img-news{
    transform: scale(1.1);
    transition: 0.5s;

}
.img-news{
    min-width:30% ;
    height: 100%;
    float: left;
}
.logo-header{
    width: 200px;
}
.img-news{
    background-image: url("https://fcisloch.by/foto/29072021vysotskiy.jpg");
    background-size: cover;
    background-position-x: center;
    transition: 0.5s;
}
.content-news-block-header{
    font-weight: bolder;
    position: relative;
}
.anim-line{
    transform: translateX(100%);
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #7cc580;
    transition: 0.5s;
}
.news-block:hover .content-news-block .content-news-block-header .anim-line {
    transform: translateX(0%);
    transition: 0.5s;
}
.img-news-two{
    background-image: url("https://sun2.beltelecom-by-minsk.userapi.com/impg/IbSgAmmrUvVpTWnu3wdF76GvPeg-y7x6ZlLEcg/fNHRZLiwbYg.jpg?size=1080x1080&quality=95&sign=ea485c2c3a6bda7bc0be43bdf0155067&type=album");
    background-size: cover;
    background-position-x: center;
    transition: 0.5s;
    min-width:30% ;
    height: 100%;
    float: left;
}
.img-news-three{
    background-image: url("https://sun2.beltelecom-by-minsk.userapi.com/impg/7vKuySiMiX_jObLLVwcq9O4ITaNsI3sTsD62Ig/5MTzxn92UPY.jpg?size=1080x1080&quality=95&sign=6effc3a98d82f56e28d955e44d9575b3&type=album");
    background-size: cover;
    background-position-x: -40px;
    transition: 0.5s;
    min-width:30% ;
    height: 100%;
}
.news-block:hover .img-news-two {
    transform: scale(1.1);
    transition: 0.5s;
}
.news-block:hover .img-news-three {
    transform: scale(1.1);
    transition: 0.5s;
}
.content-news-block{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.content-news-block-header, .content-news-block-text{
    padding: 0 10px;
}
.table{
    margin-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}
.name-table{
    text-align: center;
    letter-spacing: 5px;
}
.team{
    width: 170px;
}
.position{
    width: 20px;
}
.goal-difference{
    width: 45px;
    text-align: center;
}
.point{
    width: 20px;
}
.row-table{
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    color: white;
    transition: 0.5s;
}
.table-header{
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
}
.logo-team{
    aspect-ratio: 1;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.table .row-table:nth-child(3) .logo-team{
    background-image: url("../img/table-logo/shahterlogo.png");
}
.table .row-table:nth-child(4) .logo-team{
    background-image: url("../img/table-logo/naftanlogo.png");
}
.table .row-table:nth-child(5) .logo-team{
    background-image: url("../img/table-logo/smorgonlogo.png");
}
.table .row-table:nth-child(6) .logo-team{
    background-image: url("../img/table-logo/volnalogo.png");
}
.table .row-table:nth-child(7) .logo-team{
    background-image: url("../img/table-logo/ostroveclogo.png");
}
.table .row-table:nth-child(8) .logo-team{
    background-image: url("../img/table-logo/maxlinelogo.png");
}
.table .row-table:nth-child(9) .logo-team{
    background-image: url("../img/table-logo/lokologo.png");
}
.table .row-table:nth-child(10) .logo-team{
    background-image: url("../img/table-logo/lidalogo.png");
}
.table .row-table:nth-child(11) .logo-team{
    background-image: url("../img/table-logo/molologo.png");
}
.table .row-table:nth-child(12) .logo-team{
    background-image: url("../img/table-logo/baranovichilogo.png");
}
.table .row-table:nth-child(13) .logo-team{
    background-image: url("../img/table-logo/orshalogo.png");
}
.table .row-table:nth-child(14) .logo-team{
    background-image: url("../img/table-logo/osipovichilogo.png");
}
.table .row-table:nth-child(15) .logo-team{
    background-image: url("../img/table-logo/slonimlogo.png");
}
.table .row-table:nth-child(3),.table .row-table:nth-child(4),.table .row-table:nth-child(5){
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.table .row-table:nth-child(6),.table .row-table:nth-child(7),.table .row-table:nth-child(8),.table .row-table:nth-child(9),.table .row-table:nth-child(10),.table .row-table:nth-child(11),.table .row-table:nth-child(12){
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.table .row-table:nth-child(13),.table .row-table:nth-child(14),.table .row-table:nth-child(15){
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
}
.animation-table-row-left{
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s;
}
.animation-table-row-right{
    transform: translateX(100%);
    opacity: 0;
    transition: 1s;
}
.animation-table-row-left.active{
    transform: translateX(0%);
    opacity: 1;
}
.animation-table-row-right.active{
    transform: translateX(0%);
    opacity: 1;
}
.row-table:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.link-header{
    display: flex;
    justify-content: space-around;
}
.link-icon{
    color: #043927;
    transform: scale(1.5);
}
.link-icon:hover{
    color: #008B8B;
}
.dialog-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
}

.dialog-container.shown {
    display: flex;
}

.dialog-container.shown .menu-math {
    animation: scale-shown 200ms ease-in;
}

.dialog-container.shown .backdrop {
    animation: opacity-shown 200ms ease-in;
}
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
}

@keyframes opacity-shown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale-shown {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.menu-math{
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background: white;
    justify-content: center;
}
.menu-math-left-colum{
    width: 50%;
}
.menu-math-right-colum{
    width: 50%;
}
.logo-menu-math-left-colum{
    width: 100px;
    aspect-ratio: 1;
}
.logo-menu-math-right-colum{
    width: 100px;
    aspect-ratio: 1;
}
.logo-menu-math-left-colum{
    background-image: url("../img/molologo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-menu-math-right-colum{
    background-image: url("../img/smorgonlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    order: -1;
}
.menu-math-left-colum, .menu-math-right-colum{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.relative-for-button-menu-math{
    position: relative;
}
.menu-math-button-close{
    position: absolute;
    top: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
.time-count-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-cont-separator{
    margin: 0 5px;
}
.time-count-val{
    display: flex;
    justify-content: center;
}
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;

}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #7cc580;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.box.one{
    width: 100px;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s ease;
    background-image: url("../img/tail.jpg");
}
.box.two{
    background-image: url("../img/barber.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.three{
    background-image: url("../img/m9sokombinat.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.four{
    background-image: url("../img/marafon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.five{
    background-image: url("../img/one lig.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.six{
    background-image: url("../img/gazeta.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.seven{
    background-image: url("../img/dk.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.eight{
    background-image: url("../img/radio.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.box.nine{
    background-image: url("../img/tm.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    aspect-ratio: 1;
}
.item{
    justify-content: center;
    gap: 10px;
    height: 100%;
    align-items: center;
}
.english,.russian{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.english:focus{
    color: white;
}
.russian:focus{
    color: white;
}
.footer{
    height: 30vh;
    background-color: var(--main-color);
    color: var(--second-color);
    display: flex;
    justify-content: space-evenly;
}
.phoverfooter:hover{
    color: #008B8B;
}
@media (max-width: 350px){
    .size-h1,.line-1{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .custom-menu-button{
        width: 100%;
    }
    .news{
        width: 80%;
        text-align: center;
    }
    .game,.win-game,.draw-game,.lose-game,.goal-difference{
        display: none;
    }
    .position{
        text-align: center;
    }
    .item{
        width: 80%;
        margin: 0 auto;
        gap: 0;
    }
    .img-news,.img-news-two,.img-news-three{
        background-image: none;
    }
}
@media (max-width: 700px){
    .size-h1,.line-1{
        display: none;
    }
    .header{
        justify-content: center;
    }
    .item{
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 900px){
    .menu-math{
        font-size: 10px;
    }
}
@media (max-width: 550px){
    .menu-math{
        font-size: 7px;
    }
}
@media (max-width: 350px){
    .menu-math{
        flex-direction: column;
        font-size: 15px;
    }
}





